<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
	<div class="header">
		<span class="logo">BookStore</span>
		<span class="links">
			<a href="{%url 'registration'%}">Home</a>
			<a href="books.php">Books</a>
			<a href="">details</a>
      <a href="">history</a>
			<a href="">Profile</a>
			<a href="{%url 'login'%}">Login</a>
		</span>
	</div>
</body>
</html>
